html,body{
    scroll-behavior: smooth;
}

body{
    /* background-color: #f8f4f4; */
    background-image: url('nick.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    
}
.navbar-bg{
    background-color: #1f2833;
    padding: 0px 10px;
}
#logo{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#home{
    color: #a2adbb;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
#ancore{
    color: white;
    font-size: 25px;
}
#files{
    color: aqua;
    font-size: 27px;
}
#navbarDropdown{
    font-family: 'Poppins', sans-serif;
    color: #a2adbb;
    /* color: white; */
    font-weight: 400;
}
#input{
    padding: 2px 6px;
    margin: 5px 5px;
}
.top-description{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.top-box{
    margin: 10px;
    color: #525252;
    font-size: 17px;
    font-weight: 400;
    /* animation: fadein 2s; */
}

/* @keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */

.year-box{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */

    grid-template-areas:
    'first-year second-year third-year forth-year';
    
}

#first-year{
    grid-area: first-year;
    
}
#first-year ul{
    padding: 10px 15px;
    margin: 0px 10px;
}
#second-year{
    grid-area: second-year;

}
#third-year{
    grid-area: third-year;

}
#forth-year{
    grid-area: forth-year;

}
.years{
    font-family: 'Poppins', sans-serif;
    margin: 12px;
    padding: 10px;
    box-shadow: 0px 5px 20px #000000;
    color: white;
    /* background-color: #404a57;
    border: 5px #1f2833; */
    background-color: #1f2833;
    border-radius: 9px;
}
.years p{
    color: #ff4c14;

    font-size: 29px;
    margin: auto;
    text-align: center;
    font-weight: 500;
}
.years ul{
    list-style-type: circle;
    padding: 0px 16px;



}
.years li{
    
    font-weight: 400;
    margin: 5px 0px;

}
.years li :hover{
    color: #9aa2ad;
    /* color: aqua; */

}
.years li a{
    color: white;
    /* color: white; */
    text-decoration: none;

}




/* Years css */

.sub-top{
    display: flex;
    flex-direction: column;
    background-color: #1f2833;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px #000000;
}
.sub-top a{
    text-decoration: none;
    /* color: black; */
}
.sub-top-child-a{
    font-weight: 500;
    

}
.sub-top-child-a :hover{
    color: #d3471c;

}
.sub-top-child-1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: white;
    

    
}
.sub-top-child{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
    /* color: #ff4c14; */

}
.sub-top-child a{
    color: #ff4c14;

}
.sub-top-child-b{
    display: none;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 500;
}
.sub-top-child-b a{
    color: #ff4c14;
    
}


.sub-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub-main-child{
    margin: 5px 10px;
    background-color: #1f2833;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 20px #000000;
}
.sub-main-child p{
    text-align: center;
    color: #ff4c14;
    font-weight: 500;
   

    font-size: 27px;
    margin: 0px;
}

.drop{
    background-color: #1f2833;
    color: white;
}
.drop :hover{
    color: white;
}
.drop-main{
    background-color: #424f5f;
    color: white;
}
.drop-main :hover{
    /* color: white; */
    background-color: #1f2833;
}




footer{
    background-color: #1f2833;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
    
}
.foot{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 11px;
    margin: 10px 0px;

}
.feedback{
    /* color: #ff4c14;
    font-size: 14px; */
    /* text-decoration: underline; */
}
.feedback a{
    color: #ff4c14;
    font-size: 14px;
}






.whole{
    height: 100vh;
}
.index-height{
    height: 100%;
}


/* grid-template-columns: 1fr 6fr 1fr; */


@media only screen and (max-width:650px) {
    
    .years{
        margin: 20px 20px;
       
    }
    .year-box{
        grid-template-areas:
        'first-year'
         'second-year '
        'third-year'
         'forth-year';
         /* grid-template-columns: 1fr; */
    }
    .top-description{
        display: grid;
        grid-template-columns: 1fr 50fr 1fr;
    }
    .sub-top-child-b{
        display: block;
        font-size: 22px;
    }
    .sub-main-child{
        margin: 20px 20px;
    }



    .sub-main{
        display: grid;
        grid-template-columns: 1fr ;
    }

    .foot{
        font-size: 10px;
    }
    .feedback a{
        color: #ff4c14;
        font-size: 12px;
    }
    
    .whole{
        height: 100%;
    }
    .index-height{
        height: 100%;
    }

    footer{
        margin-top: 50px;
    }
}

    
    
    


@media (min-width: 650px) and (max-width:950px) {
    /* body {
        background-color: yellow;
    } */
    .year-box{
        /* grid-template-columns: 1fr 1fr; */
        grid-template-areas:
        'first-year second-year '
        'third-year forth-year';
    }
    .top-description{
        
        grid-template-columns: 1fr 8fr 1fr;
    }
    


    .sub-main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    
}

@media (min-width: 950px) {
    body {
        /* background-color: green; */
    }
    .year-box{
        grid-template-areas:
        'first-year second-year third-year forth-year';
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    }
    
    .sub-main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .whole{
        height: 100vh;
    }
}